*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
html{
    color-scheme: dark light;
}
body {
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}

body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

nav {
    background-color: lightcoral;
    grid-column: 2 / 56;
}

aside {
    background-color: lightblue;
    grid-row: 1 / 6;
}

main {
    background-color: lightgreen;
    grid-row: 2 / 5;
    grid-column: 2 / 6;
}


