@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
}
html{
    color-scheme: dark light;
}
body {
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}

body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

nav {
    background-color: white;
    grid-column: 2 / 56;
    /* box-shadow: 50px 50px 50px 10px black; */
}

aside {
    background-color: rgb(45, 132, 190);
    grid-row: 1 / 6;
}

main {
    background-color: rgb(236, 240, 240);
    /* background-color: white; */

    grid-row: 2 / 6;
    grid-column: 2 / 6;
}

aside {
    display: grid;
    grid-template: 0.5fr 2.5fr 2.5fr/ 1fr;
    padding: 30px;
    gap: 30px;
}

aside h1 {
    font-size: 2rem;
    font-weight: 800;
}

aside > ul > li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

aside > ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    align-items: center;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    color: #000;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.searchInput {
    border: 2px solid red;
    display: grid;
    grid-template: 1fr / 1fr 10fr;
    align-items: center;
}

.searchInput input {
    width: 100%;
    border-radius: 15rem;
    background-color: gainsboro;
    border: none;
    height: 2.5rem;
}

.info {
    border: 2px solid red;
}

.welcomeText {
    border: 2px solid red;
    padding: 10px;
    text-align: left;
}

.buttons {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;

}

.buttons button {
    border-radius: 5rem;
    background-color: rgb(45, 132, 190);
    height: 2.5rem;
    width: 6rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    justify-self: center;
}



