@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
}
html{
    color-scheme: dark light;
}
body {
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}

body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

nav {
    background-color: white;
    background-color: black;
    grid-column: 2 / 56;
    /* box-shadow: 0px 15px 5px 10px black; */
    box-shadow: 0 4px 2px -50px rgba(0, 0, 0, 0.2); 
}

aside {
    background-color: rgb(45, 132, 190);
    grid-row: 1 / 6;
}

main {
    /* background-color: rgb(236, 240, 240); */
    background-color: white;

    grid-row: 2 / 5;
    grid-column: 2 / 6;
}

aside {
    display: grid;
    grid-template: 0.5fr 2.5fr 2.5fr/ 1fr;
    padding: 30px;
    gap: 30px;
}

aside h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

aside > ul > li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
}

aside > ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    align-items: center;
}
    



